@charset "UTF-8";

/* COLORS 
		--blue75:rgba(99, 180, 255, 0.75);
		/// background 
		--grad-bot: linear-gradient(180deg, rgba(4, 131, 249) 39.6%, rgba(58, 190, 219, 0.5) 87.68%);
		--grad:linear-gradient(180deg, var(--purple) 0%, var(--blue) 100%);

		/// BOX-SHADOW 
		--shadow-bot: 0px 4px 4px rgba(0, 0, 0, 0.25);
		--blue-line: 0px 2px 0px 0px var(--dark-blue);
		/// text-shadow 
		--shadow-txt: 0px 4px 4px rgba(0, 0, 0, 0.25);
		///FONTS 
		--exo:"Exo2";
		--quick: "Quicksand";
		--mont: "Montserrat";
*/

@font-face {
  font-family: "Graphik";
  font-display: swap;
  src: url("../fonts/GraphikLCG-Light.woff") format("woff"), url("../fonts/GraphikLCG-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: light;
}

@font-face {
  font-family: "Graphik";
  font-display: swap;
  src: url("../fonts/GraphikLCG-Semibold.woff") format("woff"), url("../fonts/GraphikLCG-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: semibold;
}

@font-face {
  font-family: "Graphik";
  font-display: swap;
  src: url("../fonts/GraphikLCG-Bold.woff") format("woff"), url("../fonts/GraphikLCG-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: "Graphik";
  font-display: swap;
  src: url("../fonts/GraphikLCG-Medium.woff") format("woff"), url("../fonts/GraphikLCG-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: medium;
}

@font-face {
  font-family: "Graphik";
  font-display: swap;
  src: url("../fonts/GraphikLCG-Regular.woff") format("woff"), url("../fonts/GraphikLCG-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

/* Указываем box sizing */

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Убираем внутренние отступы */

ul,
ol {
  padding: 0;
  margin: 0;
}

/* Убираем внешние отступы */

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  margin: 0;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
   -ms-text-size-adjust: 100%;
       text-size-adjust: 100%;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/

ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

a {
  background-color: transparent;
  text-decoration: none;
}

a:active,
a:hover {
  outline: 0;
}

/* Упрощаем работу с изображениями */

img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/

article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */

input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */

/* Линия */

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
}

/* Очистка float*/

.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.row:before,
.row:after {
  display: table;
  clear: both;
}

.clearfix:before,
.clearfix:after {
  content: "";
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -0.9rem;
  margin-left: -0.9rem;
}

/*row
    col
    col
      row
       col
       col
    col*/

.col {
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 100%;
  position: relative;
  min-height: 1px;
  padding-left: 0.9rem;
  padding-right: 0.9rem;
}

.row > [class*="col-"] {
  position: relative;
  min-height: 1px;
  padding-left: 0.9rem;
  padding-right: 0.9rem;
}

/* PC FIRST START */

/* PC FIRST START */

/* PC FIRST START */

/* PC FIRST START */

/* PC FIRST START */

.col-md-12 {
  width: 100%;
}

.col-md-11 {
  width: 91.66666667%;
}

.col-md-10 {
  width: 83.33333333%;
}

.col-md-9 {
  width: 75%;
}

.col-md-8 {
  width: 66.66666667%;
  float: left;
}

.col-md-7 {
  width: 58.33333333%;
  float: left;
}

.col-md-6 {
  width: 50%;
  float: left;
}

.col-md-5 {
  width: 41.66666667%;
  float: left;
}

.col-md-4 {
  width: 33.33333333%;
  float: left;
}

.col-md-3 {
  width: 25%;
  float: left;
}

.col-md-2 {
  width: 16.66666667%;
}

.col-md-1 {
  width: 8.33333333%;
}

.col-md-005 {
  width: 5%;
}

.col-md1-12 {
  width: 100%;
}

.col-md1-11 {
  width: 91.66666667%;
}

.col-md1-10 {
  width: 83.33333333%;
}

.col-md1-9 {
  width: 75%;
}

.col-md1-8 {
  width: 66.66666667%;
  float: left;
}

.col-md1-7 {
  width: 58.33333333%;
  float: left;
}

.col-md1-6 {
  width: 50%;
  float: left;
}

.col-md1-5 {
  width: 41.66666667%;
  float: left;
}

.col-md1-4 {
  width: 33.33333333%;
  float: left;
}

.col-md1-3 {
  width: 25%;
  float: left;
}

.col-md1-2 {
  width: 16.66666667%;
}

.col-md1-1 {
  width: 8.33333333%;
}

.col-md1-005 {
  width: 5%;
}

/* PC FIRST END */

/* PC FIRST END */

/* PC FIRST END */

/* PC FIRST END */

/* PC FIRST END */

/* PC FIRST END */

body {
  font-size: 16px;
  font-family: "Graphik";
  -webkit-transition: ease-in-out 0.1s;
  -o-transition: ease-in-out 0.1s;
  transition: ease-in-out 0.1s;
  overflow-x: hidden;
  background-color: white;
}

body .lock {
  overflow: hidden;
}

.container {
  max-width: 1640px;
  margin: 0 auto;
  padding: 0 0.9rem;
}

.container-full {
  max-width: 100%;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.bold {
  font-weight: 600;
}

.js-btn {
  cursor: pointer;
}

.icon-wrapper {
  margin: 0.9rem 0.6rem;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn {
  display: inline-block;
  margin: 0 0 10px 0;
  padding: 3px 6px;
  background-color: white;
  color: #713dc3;
  cursor: pointer;
  text-align: left;
  text-decoration: none;
  white-space: nowrap;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.badge {
  position: absolute;
  top: 0.6rem;
  left: -2rem;
  background-color: #713dc3;
  color: white;
  min-width: 43px;
  height: 32px;
  border: 2px solid #713dc3;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
}

.search__icon {
  background-color: #713dc3;
  width: 52px;
  min-width: 52px;
  height: 38px;
  border: 2px solid #713dc3;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.grey-footer {
  width: 100%;
  height: 2em;
  background-color: #f2f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grey-footer__txt {
  color: #8a8a8a;
  font-size: 0.8em;
}

.bad-eye__icon {
  background: #f0f3f3;
  border-radius: 20px;
  padding: 5px 10px 0px 10px;
  margin-right: 0.9rem;
  margin-left: 2rem;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border: 1px solid #f0f3f3;
}

.bad-eye__icon:hover {
  background: white;
  border: 1px solid #713dc3;
}

.bad-eye__txt {
  width: 8ch;
}

.phone__icon {
  margin-left: 2rem;
  margin-right: 1rem;
}

.phone__icon svg {
  width: 40px;
  height: 40px;
}

.phone__item {
  min-width: 10ch;
  white-space: nowrap;
}

.adress__item .plus {
  float: left;
  padding-top: 2px;
}

.adress__item .plus svg {
  fill: #713dc3;
  width: 12px;
  height: 12px;
}

.adress__txt {
  padding-left: 21px;
  margin-right: 3vw;
  min-width: 14ch;
  white-space: nowrap;
}

.burger {
  display: none;
}

.burger__badge .badge {
  position: absolute;
  right: 50px;
  top: -10px;
  left: auto;
}

.burger__container {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 25%;
  right: 5%;
  width: 55px;
  height: 32.5px;
  cursor: pointer;
  z-index: 2;
}

.burger__container.is-active .burger__body {
  background: rgba(0, 0, 0, 0);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.burger__container.is-active .burger__body:before {
  top: 0;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.burger__container.is-active .burger__body:after {
  top: 0;
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
  -webkit-box-shadow: none;
          box-shadow: none;
  width: 40px;
}

.burger__body {
  width: 40px;
  height: 3.5px;
  background: #713dc3;
  position: absolute;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  border-radius: 20px;
}

.burger__body:before {
  top: -11px;
  border-radius: 20px;
  content: '';
  position: absolute;
  width: 40px;
  height: 3.5px;
  background: #713dc3;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.burger__body:after {
  border-radius: 20px;
  top: 11px;
  right: 0;
  content: '';
  position: absolute;
  width: 30px;
  height: 3.5px;
  background: #713dc3;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.header {
  position: relative;
  background-color: white;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 2;
  min-height: 50px;
}

.header .container {
  width: 100%;
}

.header__body {
  max-height: 100px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1.5rem;
}

.header__body.row {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.header #logosm {
  display: none;
}

.header__logo {
  position: relative;
  max-width: 100%;
  z-index: 2;
}

.header__adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header__phone.phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-left: 1px solid #f0f3f3;
  border-right: 1px solid #f0f3f3;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  max-width: 28%;
}

.header__phone .tele-link {
  color: black;
}

.header__bad-eye {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.header__bad-eye:hover .bad-eye__icon {
  -webkit-transform: translateY(-4px);
      -ms-transform: translateY(-4px);
          transform: translateY(-4px);
  background: white;
  border: 1px solid #713dc3;
}

.header__footer.grey-footer {
  margin-top: 1.5rem;
}

.nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
}

.nav__menu ul ul {
  margin-top: 10px;
}

.nav__menu ul ul:before {
  content: "";
  display: block;
  height: 40px;
  position: absolute;
  top: -20px;
  left: 0;
  width: 100%;
}

.nav__menu ul ul ul:before {
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  top: -1.2rem;
  left: -6.9rem;
  width: 7.9rem;
}

.nav__menu .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
}

.nav__menu .menu > li:first-child {
  padding-left: 1.5rem;
}

.nav__menu .menu a:hover {
  text-decoration: none;
}

.nav__menu .menu__item {
  line-height: 35px;
  text-align: center;
  font-size: 1.2em;
  padding: 1.3rem 0px;
  cursor: pointer;
  border-bottom: 3px solid transparent;
  padding-right: 2rem;
  padding-left: 1rem;
  display: block;
  white-space: nowrap;
}

.nav__menu .menu__item:hover {
  border-bottom: 3px solid #713dc3;
  color: #713dc3;
}

.nav__menu .menu li:hover .sub-menu {
  display: block;
}

.nav .sub-menu {
  background-color: white;
  position: absolute;
  padding: .9rem 2rem;
  left: 0;
  display: none;
  z-index: 5;
  font-size: 1.1em;
  border-radius: 10px;
}

.nav .sub-menu__item {
  width: 100%;
  height: 100%;
  display: block;
  padding: 0.3rem 0px;
}

.nav .sub-menu li {
  padding-left: 1em;
  width: 22ch;
  margin-right: 2rem;
}

.nav .sub-menu li:first-child {
  position: relative;
}

.nav .sub-menu li:hover {
  background: url("../img/dot.png") no-repeat 10px;
  background-position: 1px 0.8em;
  padding-left: 1em;
}

.nav .sub-menu li:hover .sub-sub-menu {
  background-color: white;
  position: absolute;
  padding: 1rem 3rem;
  display: block;
  top: -10px;
  left: 10.5rem;
  margin-left: 200px;
  z-index: 6;
  font-size: 1.1em;
  border-radius: 10px;
}

.nav .sub-menu li:hover .sub-sub-menu.first {
  top: -1.53rem;
  left: 8.5rem;
}

.nav .sub-sub-menu {
  display: none;
}

.nav .sub-sub-menu li {
  padding-left: 1em;
  width: 25ch;
  margin-right: 0.1rem;
}

.nav .sub-sub-menu li:hover {
  background: url("../img/arrow.png") no-repeat 10px;
  background-position: 1px 0.8em;
}

.nav .sub-sub-menu__item {
  display: block;
  padding: 0.3rem 0px;
}

.nav__buttons {
  margin-left: auto;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.nav .nav-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.nav .nav-buttons__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  text-align: center;
  padding: 1.0rem 2.5rem;
  cursor: pointer;
}

.nav .nav-buttons__item.is-selected {
  background-color: #713dc3;
  color: white;
}

.nav .nav-buttons__badge:hover {
  background-color: white;
  color: #713dc3;
}

.page__fpbanner .fpbanner-slider__slide {
  min-height: 766px;
  background-image: url("../img/bg_1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.page__fpbanner .fpbanner-slider .slide-1 {
  background-image: url("../img/bg_1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-size: calc(8px + 8 * ((100vw - 320px) / 1580));
}

.page__fpbanner .fpbanner-slider .slide-1__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-width: 1640px;
  margin: 0 auto;
}

.page__fpbanner .fpbanner-slider .slide-1__col {
  margin-left: 2%;
  padding-right: 6rem;
}

.page__fpbanner .fpbanner-slider .slide-1__item {
  margin-left: 10%;
  color: white;
}

.page__fpbanner .fpbanner-slider .slide-1__item.btn {
  max-width: 200px;
  color: #713dc3;
  border-radius: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 0.8rem 1.5rem;
  font-size: 16px;
}

.page__fpbanner .fpbanner-slider .slide-1__item.btn svg {
  fill: #713dc3;
  -webkit-transition: fill 0.3s ease-in-out;
  -o-transition: fill 0.3s ease-in-out;
  transition: fill 0.3s ease-in-out;
}

.page__fpbanner .fpbanner-slider .slide-1__item.btn:hover {
  background-color: #713dc3;
  color: white;
}

.page__fpbanner .fpbanner-slider .slide-1__item.btn:hover svg {
  fill: white;
}

.page__fpbanner .fpbanner-slider .slide-1__item:nth-child(1) {
  font-size: 1.9em;
  margin-top: 5rem;
  padding-bottom: 3rem;
}

.page__fpbanner .fpbanner-slider .slide-1__item:nth-child(2) {
  font-size: 3em;
  font-weight: 500;
  line-height: 1.2;
  max-width: 14ch;
}

.page__fpbanner .fpbanner-slider .slide-1__item:nth-child(3) {
  font-size: 5.8em;
  font-weight: 600;
  white-space: nowrap;
}

.page__fpbanner .fpbanner-slider .slide-1__item:nth-child(4) {
  font-size: 1.9em;
  font-weight: 300;
  margin-bottom: 4rem;
}

.page__fpbanner .fpbanner-slider__prev {
  color: white;
}

.page__fpbanner .fpbanner-slider__next {
  color: white;
}

body.big-font {
  font-size: 20px;
}

body.big-font .header__footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 70px;
  background: white;
  width: 100%;
  height: 100vh;
  z-index: 2;
  letter-spacing: 0.5px;
}

.mobile-menu:before {
  content: "";
  width: 100%;
  height: 100vh;
  position: fixed;
  background: white;
  z-index: 1;
}

.mobile-menu > * {
  z-index: 2;
}

.mobile-menu li {
  list-style: none;
}

.mobile-menu li:hover .mobile-menu__link {
  color: #713dc3;
  border-bottom: 1px solid #713dc3;
  margin-left: 2.5rem;
}

.mobile-menu__body {
  padding: 2rem 1rem 2rem 1rem;
  background: #fafafa;
  width: 100%;
}

.mobile-menu li:hover .mobile-submenu {
  display: block;
  padding-left: 2.3rem;
}

.mobile-menu__link {
  font-size: 1.1em;
  font-weight: 500;
  letter-spacing: 0.5px;
  padding-left: 0;
  margin-left: 1rem;
  cursor: pointer;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

.mobile-menu__adress {
  margin: 2rem 2rem;
}

.mobile-menu__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mobile-menu__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 2rem;
  border-bottom: 1px solid #f2f2f2;
  padding-bottom: 1rem;
}

.mobile-menu__footer.grey-footer {
  margin-top: 3rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-top: 2rem;
  background-color: white;
}

.mobile-menu .mobile-submenu {
  display: none;
  padding-top: 1rem;
  position: relative;
  z-index: 5;
}

.mobile-menu .mobile-submenu__link {
  font-weight: 500;
  color: rgba(0, 0, 0, 0.8);
  font-size: 1em;
  padding: 0.2rem 0;
  cursor: pointer;
}

.mobile-menu .mobile-submenu__link:hover {
  color: #713dc3;
}

.mobile-menu .mobile-submenu li:hover .mobile-sub-submenu {
  display: block;
}

.mobile-menu .mobile-sub-submenu {
  display: none;
  position: relative;
  z-index: 7;
}

.mobile-menu .mobile-sub-submenu li {
  padding: 0.4rem 0;
}

.mobile-menu .mobile-sub-submenu__link {
  font-weight: 400;
  letter-spacing: 0px;
  text-decoration: none;
  color: #868686;
  padding: 0.4rem 0;
  padding-left: 1.2em;
}

.mobile-menu .mobile-sub-submenu__link:hover {
  background: url("../img/dot.png") no-repeat 10px;
  background-position: 1px .6em;
  padding-left: 1.2em;
  color: #713dc3;
}

.mobile-menu .adress__item {
  margin-bottom: 1.5rem;
}

.mobile-menu .plus {
  margin-right: 1rem;
}

.mobile-menu .search__icon {
  margin-left: 1rem;
}

.mobile-menu #bad-eye {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 52px;
  min-width: 52px;
  height: 38px;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  margin: .9rem .6rem;
  margin-left: 0.6rem;
  border-radius: 20px;
}

.mobile-menu #bad-eye .bad-eye__icon {
  margin: 1rem 1rem;
  padding-top: 9px;
  padding-bottom: 0;
  padding-left: 15px;
  padding-right: 15px;
}

.mobile-menu .mobile-menu__phone .col {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 60%;
          flex: 1 1 60%;
}

.mobile-menu .mobile-menu__phone .phone__icon {
  display: block;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 10%;
          flex: 1 1 10%;
  max-width: 34px;
}

.mobile-menu .mobile-menu__phone .phone__item {
  padding-top: 0.2rem;
}

.mobile-menu .mobile-menu__phone .phone__item a {
  color: black;
}

.is-open .mobile-menu__link,
.dontclose .mobile-menu__link {
  color: #713dc3;
  border-bottom: 1px solid #713dc3;
  margin-left: 2.5rem;
}

.is-open .mobile-submenu,
.dontclose .mobile-submenu {
  display: block;
  padding-left: 2.3rem;
}

.is-open:hover,
.dontclose:hover {
  border-bottom: none;
}

.is-sub-open .mobile-submenu__link {
  color: #713dc3;
}

.is-sub-open .mobile-sub-submenu {
  display: block;
}

.is-sub-open:hover {
  border-bottom: none;
}

#search-bar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 1rem;
}

#search-bar input {
  outline: none;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

#search-bar input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  font-family: inherit;
  font-size: 100%;
}

#search-bar input::-webkit-search-decoration,
#search-bar input::-webkit-search-cancel-button {
  display: none;
}

#search-bar input[type=search] {
  background: #ededed url(../img/searchw.png) no-repeat 18px center;
  padding: 9px 10px 9px 32px;
  border: none;
  width: 38px;
  padding-left: 10px;
  color: transparent;
  cursor: pointer;
  border-radius: 24px;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  background-color: #713dc3;
}

#search-bar input[type=search]:focus {
  width: 130px;
  width: 130px;
  padding-left: 32px;
  background-color: white;
  cursor: auto;
  -webkit-box-shadow: 0 0 5px #f2f2f2;
          box-shadow: 0 0 5px #f2f2f2;
  outline: none;
  color: black;
}

#search-bar input:-moz-placeholder {
  color: transparent;
}

#search-bar input::-webkit-input-placeholder {
  color: transparent;
}

#search-bar button {
  border: 0;
  background: #ededed url(../img/search.png) no-repeat 2px center;
}

#search-bar .search-btn {
  opacity: 0;
  background-color: white;
  width: 0px;
  height: 0px;
  z-index: -1;
}

#search-bar.is-focused {
  border: 1px solid gray;
  margin-top: 15px;
  margin-bottom: 30px;
  padding-right: 5px;
  margin-left: 1rem;
  border-radius: 6px;
}

#search-bar.is-focused .search-btn {
  opacity: 1;
  background-color: white;
  width: 30px;
  height: 40px;
  z-index: 2;
  cursor: pointer;
}

@media (max-width: 1640px) {
  body {
    font-size: 15px;
  }

  .container {
    max-width: 1270px;
  }

  .phone__icon {
    display: none;
  }

  .adress__txt {
    padding-left: 14px;
    margin-right: 0.2vw;
  }

  .header__body.row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .header__phone.phone {
    max-width: 35%;
  }

  .header__bad-eye .bad-eye__icon {
    margin-right: 0.5rem;
    margin-left: 0.2rem;
  }

  .nav__menu .menu__item {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }

  .page__fpbanner .fpbanner-slider .slide-1__col {
    width: 90%;
  }

  body.big-font #logosm {
    display: block;
  }

  body.big-font #logo {
    display: none;
  }

  body.big-font .header__logo {
    max-width: 8%;
    width: 8%;
  }

  body.big-font .header__adress {
    width: 40%;
  }

  body.big-font .header__phone {
    width: 43%;
    border: none;
  }

  body.big-font .header__bad-eye {
    width: 9%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  body.big-font .header__bad-eye .txt {
    display: none;
  }

  body.big-font .nav__buttons {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  body.big-font .nav__search {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  body.big-font .nav__menu {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  body.big-font .nav__menu .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
}

@media (max-width: 991.98px) {
  .col-md2-12 {
    width: 100%;
  }

  .col-md2-11 {
    width: 91.66666667%;
  }

  .col-md2-10 {
    width: 83.33333333%;
  }

  .col-md2-9 {
    width: 75%;
  }

  .col-md2-8 {
    width: 66.66666667%;
    float: left;
  }

  .col-md2-7 {
    width: 58.33333333%;
    float: left;
  }

  .col-md2-6 {
    width: 50%;
    float: left;
  }

  .col-md2-5 {
    width: 41.66666667%;
    float: left;
  }

  .col-md2-4 {
    width: 33.33333333%;
    float: left;
  }

  .col-md2-3 {
    width: 25%;
    float: left;
  }

  .col-md2-2 {
    width: 16.66666667%;
  }

  .col-md2-1 {
    width: 8.33333333%;
  }

  .container {
    max-width: none;
    padding: 0 0.8rem;
  }

  .burger {
    display: block;
  }

  .header:before {
    content: "";
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 70px;
    top: 0;
    left: 0;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }

  .header__body {
    margin: 1rem 0;
  }

  .header #logo {
    max-height: 39px;
  }

  .header__adress {
    display: none;
  }

  .header__phone.phone {
    display: none;
  }

  .header__bad-eye {
    display: none;
  }

  .header__footer.grey-footer {
    display: none;
  }

  .nav {
    display: none;
  }

  .mobile-menu.is-active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 767.98px) {
  .col-md3-12 {
    width: 100%;
  }

  .col-md3-11 {
    width: 91.66666667%;
  }

  .col-md3-10 {
    width: 83.33333333%;
  }

  .col-md3-9 {
    width: 75%;
  }

  .col-md3-8 {
    width: 66.66666667%;
    float: left;
  }

  .col-md3-7 {
    width: 58.33333333%;
    float: left;
  }

  .col-md3-6 {
    width: 50%;
    float: left;
  }

  .col-md3-5 {
    width: 41.66666667%;
    float: left;
  }

  .col-md3-4 {
    width: 33.33333333%;
    float: left;
  }

  .col-md3-3 {
    width: 25%;
    float: left;
  }

  .col-md3-2 {
    width: 16.66666667%;
  }

  .col-md3-1 {
    width: 8.33333333%;
  }

  .container {
    max-width: none;
    padding: 0 0.8rem;
  }

  .header #logosm {
    display: block;
  }

  .header #logo {
    display: none;
  }
}

@media (max-width: 479.98px) {
  .col-md4-12 {
    width: 100%;
  }

  .col-md4-11 {
    width: 91.66666667%;
  }

  .col-md4-10 {
    width: 83.33333333%;
  }

  .col-md4-9 {
    width: 75%;
  }

  .col-md4-8 {
    width: 66.66666667%;
    float: left;
  }

  .col-md4-7 {
    width: 58.33333333%;
    float: left;
  }

  .col-md4-6 {
    width: 50%;
    float: left;
  }

  .col-md4-5 {
    width: 41.66666667%;
    float: left;
  }

  .col-md4-4 {
    width: 33.33333333%;
    float: left;
  }

  .col-md4-3 {
    width: 25%;
    float: left;
  }

  .col-md4-2 {
    width: 16.66666667%;
  }

  .col-md4-1 {
    width: 8.33333333%;
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
         -o-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}