nav.nav
    .container
      .row
        .nav__search.search.col-md-005
          .search__icon.icon-wrapper
            img(loading="lazy", src="../img/searchw.png", alt="Поиск")
        .nav__menu.col-md-6
          ul.menu
            +menu-item("Лечение")
              ul.sub-menu
                +sub("Озонотерапия") 
                  ul.sub-sub-menu.first
                    +subsub("Прием уролога") 
                    +subsub("Ударно-волновая терапия") 
                    +subsub("Массаж предстательной железы") 
                    +subsub("Прием уролога") 
                    +subsub("Ударно-волновая терапия") 
                    +subsub("Термотерапия предстательной железы") 
                    +subsub("Прием уролога") 
                    +subsub("Ударно-волновая терапия") 
                    +subsub("Массаж предстательной железы") 
                    +subsub("Прием уролога") 
                    +subsub("Ударно-волновая терапия") 
                    +subsub("Массаж предстательной железы") 
                +sub("Неврология")
                  ul.sub-sub-menu
                    +subsub("Прием уролога") 
                    +subsub("Ударно-волновая терапия") 
                    +subsub("Массаж предстательной железы") 
                    +subsub("Прием уролога") 
                    +subsub("Ударно-волновая терапия") 
                    +subsub("Термотерапия предстательной железы") 
                    +subsub("Прием уролога") 
                    +subsub("Ударно-волновая терапия") 
                    +subsub("Массаж предстательной железы") 
                    +subsub("Прием уролога") 
                    +subsub("Ударно-волновая терапия") 
                    +subsub("Массаж предстательной железы") 
                +sub("Хирургия")
                +sub("Анестезиология и реаниматология") 
                +sub("Акушерство и гинекология") 
                  ul.sub-sub-menu
                    +subsub("Прием уролога") 
                    +subsub("Ударно-волновая терапия") 
                    +subsub("Массаж предстательной железы") 
                    +subsub("Прием уролога") 
                    +subsub("Ударно-волновая терапия") 
                    +subsub("Термотерапия предстательной железы") 
                    +subsub("Прием уролога") 
                    +subsub("Ударно-волновая терапия") 
                    +subsub("Массаж предстательной железы") 
                    +subsub("Прием уролога") 
                    +subsub("Ударно-волновая терапия") 
                    +subsub("Массаж предстательной железы") 
                +sub("Неврология")
                +sub("Хирургия")
                +sub("Акушерство и гинекология") 
                +sub("Неврология")
                +sub("Хирургия")
                  ul.sub-sub-menu
                    +subsub("Прием уролога") 
                    +subsub("Ударно-волновая терапия") 
                    +subsub("Массаж предстательной железы") 
                    +subsub("Прием уролога") 
                    +subsub("Ударно-волновая терапия") 
                    +subsub("Термотерапия предстательной железы") 
                    +subsub("Прием уролога") 
                    +subsub("Ударно-волновая терапия") 
                    +subsub("Массаж предстательной железы") 
                    +subsub("Прием уролога") 
                    +subsub("Ударно-волновая терапия") 
                    +subsub("Массаж предстательной железы") 
                +sub("Акушерство и гинекология") 
                +sub("Озонотерапия") 
                +sub("Акушерство и гинекология") 
                +sub("Акушерство и гинекология") 
                +sub("Неврология")
                +sub("Хирургия")
                +sub("Акушерство и гинекология") 
                +sub("Акушерство и гинекология") 
                  ul.sub-sub-menu
                    +subsub("Прием уролога") 
                    +subsub("Ударно-волновая терапия") 
                    +subsub("Массаж предстательной железы") 
                    +subsub("Прием уролога") 
                    +subsub("Ударно-волновая терапия") 
                    +subsub("Термотерапия предстательной железы") 
                    +subsub("Прием уролога") 
                    +subsub("Ударно-волновая терапия") 
                    +subsub("Массаж предстательной железы") 
                    +subsub("Прием уролога") 
                    +subsub("Ударно-волновая терапия") 
                    +subsub("Массаж предстательной железы") 
            +menu-item("Диагностика") 
              ul.sub-menu
                +sub("Диагностика2") 
                  ul.sub-sub-menu.first
                    +subsub("Диагностика3") 
                    +subsub("Ударно-волновая терапия") 
                    +subsub("Массаж предстательной железы") 
                    +subsub("Прием уролога") 
                    +subsub("Ударно-волновая терапия") 
                    +subsub("Термотерапия предстательной железы") 
                    +subsub("Прием уролога") 
                    +subsub("Ударно-волновая терапия") 
                    +subsub("Массаж предстательной железы") 
                    +subsub("Прием уролога") 
                    +subsub("Ударно-волновая терапия") 
                    +subsub("Массаж предстательной железы") 
                +sub("МРТ")
                  ul.sub-sub-menu
                    +subsub("Прием уролога") 
                    +subsub("Ударно-волновая терапия") 
                    +subsub("Массаж предстательной железы") 
                    +subsub("Прием уролога") 
                    +subsub("Ударно-волновая терапия") 
                    +subsub("Термотерапия предстательной железы") 
                    +subsub("Прием уролога") 
                    +subsub("Ударно-волновая терапия") 
                    +subsub("Массаж предстательной железы") 
                    +subsub("Прием уролога") 
                    +subsub("Ударно-волновая терапия") 
                    +subsub("Массаж предстательной железы") 
                +sub("ШМРТ")
                +sub("Пункция щитовидной железы") 
                +sub("Акушерство и гинекология") 
                  ul.sub-sub-menu
                    +subsub("Прием уролога") 
                    +subsub("Ударно-волновая терапия") 
                    +subsub("Массаж предстательной железы") 
                    +subsub("Прием уролога") 
                    +subsub("Ударно-волновая терапия") 
                    +subsub("Термотерапия предстательной железы") 
                    +subsub("Прием уролога") 
                    +subsub("Ударно-волновая терапия") 
                    +subsub("Массаж предстательной железы") 
                    +subsub("Прием уролога") 
                    +subsub("Ударно-волновая терапия") 
                    +subsub("Массаж предстательной железы") 
                +sub("Неврология")
                +sub("Хирургия")
                +sub("Акушерство и гинекология") 
                +sub("Неврология")
                +sub("Хирургия")
                  ul.sub-sub-menu
                    +subsub("Прием уролога") 
                    +subsub("Ударно-волновая терапия") 
                    +subsub("Массаж предстательной железы") 
                    +subsub("Прием уролога") 
                    +subsub("Ударно-волновая терапия") 
                    +subsub("Термотерапия предстательной железы") 
                    +subsub("Прием уролога") 
                    +subsub("Ударно-волновая терапия") 
                    +subsub("Массаж предстательной железы") 
                    +subsub("Прием уролога") 
                    +subsub("Ударно-волновая терапия") 
                    +subsub("Массаж предстательной железы") 
                +sub("Акушерство и гинекология") 
                +sub("Озонотерапия") 
                +sub("Акушерство и гинекология") 
                +sub("Акушерство и гинекология") 
                +sub("Неврология")
                +sub("Хирургия")
                +sub("Акушерство и гинекология") 
                +sub("Акушерство и гинекология") 
                  ul.sub-sub-menu
                    +subsub("Прием уролога") 
                    +subsub("Ударно-волновая терапия") 
                    +subsub("Массаж предстательной железы") 
                    +subsub("Прием уролога") 
                    +subsub("Ударно-волновая терапия") 
                    +subsub("Термотерапия предстательной железы") 
                    +subsub("Прием уролога") 
                    +subsub("Ударно-волновая терапия") 
                    +subsub("Массаж предстательной железы") 
                    +subsub("Прием уролога") 
                    +subsub("Ударно-волновая терапия") 
                    +subsub("Массаж предстательной железы") 
            +menu-item("Наши врачи") 
            +menu-item("О центре") 
            +menu-item("Контакты") 
        .nav__buttons.nav-buttons.col-md-4
          .nav-buttons__item
            .nav-buttons__text.txt.bold Мои услуги
              .nav-buttons__badge.badge.bold.icon-wrapper 5
          .nav-buttons__item.is-selected
            .nav-buttons__text.txt.bold Записаться на прием